/* bibiana gamba: puedes utilizar un media query para que esta imagen sea responsive 
y que no se vea repetida cuando el explorador se vuelve más pequeño o cuando se ve la versión móvil */

.jumbotron{
    background: url(img/IMG_20171227_091508.jpg) 50% 35%;
    margin-bottom: 0;
    background-size: 100% auto;
    height: 350px;
}

.jumbotron h2{
    font-family: italic;
    font-size: 70px;
    color: white;
}

.jumbotron h5{
    font-family: helvetica;
    color: white;
}

.letreros{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.tituloCategorias{
    padding-bottom: 50px;
}

div.contact {
    margin-bottom: 50px;
}

section#contact a{
    color: inherit;
}

p.pAbout{
    text-align: justify;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

/* bibiana gamba: este nav no se ve muy bien en la versión móvil queda de tamaño grande (largo)  */
nav h4{
    margin: auto;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
}

.links {
    background-color: black;
    padding: 10px 0;
    font-size: 20px;
}

.links li{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    
}

.categorias h2{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

.categorias{
    padding: 20px 0;
    background-color: white;
}

.num2{
    background-color: #CEF6CE;
}
li a{
	color: white;
}

li a:hover{
	color: black;
}

.center-pills {
    display: flex;
    justify-content: center;
}

li{
	margin: 0 50px;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 2 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

.logos{
    margin-top: 50px;
}

.logo{
    height: 200px;
    width: 150px;
}

.logoHC{
    height: 183px;
    width: 300px;
    margin-bottom: 70px;
}


.logoSQL{
    height: 200px;
    width: 200px;
}

.estrellas{
    margin-top: 20px;
}

.logoHabitaciones{
    width: 250px;
    height: 250px;
}

.laImagen{
    transition: transform 2s;
    cursor: pointer;
}

.laImagen:hover{
    transform: translate(50px,0px);
}

.descripcion{
    margin: 5px;
    padding: 25px;
    border-radius: 10px;
    background-color: #A4C4A4;
}
