.jumbotron{
    background-color: azure;
    margin-bottom: 0;
}

.jumbotron h2{
    font-family: italic;
    font-size: 70px;
}

.jumbotron h3{
    font-family: helvetica;
}

nav h4{
    margin: auto;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
}

.links {
    background-color: black;
    padding: 10px 0;
    font-size: 20px;
}

.links li{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    
}

.categorias h2{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

.categorias{
    padding: 20px 0;
    background-color: white;
}

.num2{
    background-color: #CEF6CE;
}
li a{
	color: white;
}

li a:hover{
	color: black;
}

.center-pills {
    display: flex;
    justify-content: center;
}

li{
	margin: 0 50px;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 2 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
